{% extends '@admin/layout.twig' %}

{% set active = 'dashboard' %}
{% set title = 'Pulpit' %}

{% block content %}
    <h2 class="h3 mb-4">Pulpit</h2>
    <p>Witaj w panelu administracyjnym Daszbordów!</p>
{% endblock %}
